<%= provide(:title, 'New Activations') %>
<h1>New Activations</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@activation, url: activations_path) do |f| %>
    <%= render 'shared/activation_error_messages' %>
    
      <%= f.label :dealer_store %>
      <%= f.text_field :dealer_store, class: 'form-control' %>
      
      <%= f.label :customer_name %>
      <%= f.text_field :customer_name, class: 'form-control' %>

      <%= f.label :device_id %>
      <%= f.text_field :device_id, class: 'form-control' %>
      
      <%= f.label :activation_code %>
      <%= f.text_field :activation_code, class: 'form-control' %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: 'form-control' %>

      <%= f.label :area_code %>
      <%= f.text_field :area_code, class: 'form-control' %>
      
      

      <%= f.submit "Submit Activation", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
