<%= provide(:title, 'New Activations') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    
      <%= f.label :dealer_store %>
      <%= f.text_field :dealer_store %>
      
      <%= f.label :customer_name %>
      <%= f.text_field :customer_name %>

      <%= f.label :device_id %>
      <%= f.text_field :device_id %>
      
      <%= f.label :activation_code %>
      <%= f.text_field :activation_code %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>

      <%= f.label :area_code %>
      <%= f.text_field :area_code %>
      
      <%= f.label :number_to_port_in %>
      <%= f.telephone_field :number_to_port_in %>
      
      <%= f.label :account_number %>
      <%= f.text_field :account_number %>
      
      <%= f.label :account_passcode %>
      <%= f.text_field :account_passcode %>

      <%= f.submit "Submit Activation", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
