<% provide(:title, @activation.dealer_store) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <p>Dealer Store: <%= @activation.dealer_store %></p>
        <p>Customer Name: <%= @activation.customer_name %></p> 
        <p>Device ID: <%= @activation.device_id %></p> 
        <p>Activation Code: <%= @activation.activation_code %></p>
        <p>Zip Code: <%= @activation.zip_code %></p>
        <p>Area Code: <%= @activation.area_code %></p>
      </h1>
    </section>
  </aside>
</div>